
dist
.solid
.output
.vercel
.netlify
netlify
src/@panda
.env
.astro

# dependencies
/node_modules
.package-lock.json

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

## Panda
./src/@panda
./src/@panda-studio