---
import '@fontsource/open-sans';
import '@fontsource/pt-mono';
import '@fontsource/sen';

import Header from '../components/global/Header';
import Footer from '../components/global/Footer';
import { FlexSection } from '../components/global/Containers';
import { FullPageContainer } from '../components/utilities/Panels';
const { title } = Astro.props
---

<html lang="en">
  <head>
      <meta name="description" content="broccolai's personal page" />
      <title>{title || 'broccol.ai'}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="icon" href="/favicon.ico" />
      <link rel="preconnect" href="https://tickets.broccol.ai" />
  </head>
  <body>
    <FlexSection>
      <FullPageContainer client:only>
        <Header client:visible />
        <slot />
        <Footer client:visible />
      </FullPageContainer>
    </FlexSection>
  </body>
</html>