---
import '@fontsource/open-sans';
import '@fontsource/pt-mono';

import Header from '../components/global/header';
import Footer from '../components/global/footer';
import { FlexSection } from '../components/global/containers';
import PanelContainer from '../components/panels/container';
const { title } = Astro.props
---

<html lang="en">
  <head>
      <meta name="description" content="broccolai's personal page" />
      <title>{title || 'broccol.ai'}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="icon" href="/favicon.ico" />
      <link rel="preconnect" href="https://tickets.broccol.ai" />
  </head>
  <body>
    <FlexSection>
      <PanelContainer client:load count=3 showIndicators=true>
        <Header client:visible />
        <slot />
        <Footer client:visible />
      </PanelContainer>
    </FlexSection>
  </body>
</html>