---
import '@fontsource/open-sans';
import '@fontsource/pt-mono';

import Header from '../components/global/header';
import Footer from '../components/global/footer';
import { FlexSection } from '../components/global/containers';
const { title } = Astro.props
---

<html lang="en">
  <head>
      <meta name="description" content="broccolai's personal page" />
      <title>{title}</title>

      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <FlexSection>
        <Header client:visible alwaysShow={true} title="// kd calculator" />
        <slot />
        <Footer client:visible />
    </FlexSection>
  </body>
</html>